@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --subBackground: oklch(86.9% 0.022 252.894);
  --accent: #2DC86E;
  --accent-hover: #1A7440;
  --shadow-color: #f1f1;
  --accent-secondary: #0A3D62;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #0F0F0F;
    --foreground: #ededed;
    --subBackground: #181818;
  }
}

body {
  /* @apply bg-white text-black dark:bg-black dark:text-white; */

  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}